*, html, body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background: #efefef;
    padding: 0;
    margin: 0;
}

body > header {
    flex-basis: 50px;
    background: #369;
}

body > main {
    min-height: 400px;
}

body > footer {
    flex-basis: 120px;
    background: #555;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

body > header h1 {
    margin: 0;
    color: #fff;
    font-size: 24px;
    line-height: 50px;
}

body > main {
    display: flex;
    flex-direction: row;
    padding: 30px 0;
}

body > main > article {
    flex: 3;
    background: #fff;
    box-shadow: 1px 1px 5px #000;
    padding: 20px;
}

body > main > aside {
    flex: 1;
    background: #fff;
    box-shadow: 1px 1px 5px #000;
    padding: 20px;
}

body > main > article + aside {
    margin-left: 20px;
}

body > main > article h2,
body > main > aside h2
{
    margin-top: 0;
}


